<!DOCTYPE>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/shorturl.css">
  <title>URL Shortener</title>
</head>
<body>
  {{>navbar}}
  <div class="container">
    <h1>URL Shortener</h1>
  
    <form action="/shortURL/generate" method="post">
      <label for="fullUrl">Enter URL:</label>
      <input type="text" name="fullUrl" id="fullUrl" required>
      <button type="submit">Shorten</button>
    </form>

    <table>
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
            {{#each urls}}
        <tr>
          <td><a href="{{this.fullUrl}}" target="_blank">{{this.fullUrl}}</a></td>
          <td><a href="/shortURL/{{this.shortUrl}}" target="_blank">{{this.shortUrl}}</a></td>
          <td>{{this.clicks}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  {{>footer}}
</body>
</html>